<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Cadastrar Novo Paciente</h2>
        <form method='post'>
            <label for="nome">Nome Completo:</label>
            <input name='nome' id="nome" type="text" required>

            <label for="cpf">CPF:</label>
            <input name='cpf' id="cpf" type="text" required>

            <label for="data_nascimento">Data de Nascimento:</label>
            <input name='data_nascimento' id="data_nascimento" type="date" required>

            <label for="sexo">Sexo:</label>
            <select name='sexo' id="sexo" required>
                <option value="" disabled selected>Selecione...</option>
                <option value='Masculino'>Masculino</option>
                <option value='Feminino'>Feminino</option>
                <option value='Outro'>Outro</option>
            </select>
            <button type='submit'>Cadastrar</button>
        </form>
        <p><a href="{{ url_for('pagina_recepcionista') }}">Voltar ao Painel</a></p>
    </div>
</body>
</html>