<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Enfermeira</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Painel da Enfermeira</h1>
        <p>Bem-vinda!</p>
        
        <p>Selecione uma ação:</p>
        <a href="{{ url_for('triagem') }}" class="nav-link">Registrar Nova Triagem</a>
        
        <p style="margin-top: 30px;"><a href="{{ url_for('logout') }}" class="logout-link">Sair</a></p>
    </div>
</body>
</html>